
/* BUG : CSS 로드 문제
 */

/* Pretendard-Regular 폰트 로드 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  

  html, body {
    height: 100%;
    margin: 0;
  }
  /* 전역 기본 스타일 */
  body {
    background-color: 'blue';
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px; 
    font-family: 'Pretendard-Regular', sans-serif;
  }
